
body {
    margin: 0;
    padding: 0;
    background: #860000;
}

div {
    margin: 0 auto;
    margin-top: 120px;
    width: 800px;

}

h1 {
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

img {
    width: 800px;
}